<% c++ #include "content/index.h" %>
<% skin whattodo %>
<% view index uses content::index extends main %>
<% template page_content() %>
<% end template %>
<% template sidebar() %>
<% end template %>
<% end view %>
<% end skin %>
