<% c++ #include "content/login.h" %>
<% skin whattodo %>
<% view login uses content::login extends master %>
<% template title() %><%= page_title %> - <% include master::title() %><% end %>
<% template body() %>
<div class="header" style="padding-bottom: 8px">
<nav>
<ul class="nav nav-pills pull-right">
<li class="active" role="presentation"><a href="<% url "/login" %>">Login</a></li>
</ul>
</nav>
<h3 class="text-muted"><% include title() %></h3>
</div>
<div class="row">
<div class="col-md-4 col-md-push-4">
<% if login_failed %>
<div class="alert alert-danger">
<p><strong>Access Denied!</strong> You're username and password don't match
anyone in our database</p>
</div>
<% end %>
<form method="post" action=""><% csrf %>
<div class="form-group">
<label class="control-label sr-only" for="username">Username:</label>
<div class="input-group">
<span class="input-group-addon">/u/</span>
<input class="form-control input-lg" type="text" id="username" name="username" placeholder="jsmith">
</div>
</div>
<div class="form-group">
<label class="control-label sr-only" for="password">Password:</label>
<input class="form-control input-lg" type="password" id="password" name="password" placeholder="correct horse battery staple">
</div>
<input type="submit" class="form-control input-lg" id="submit" name="submit" value="Login">
</form>
</div>
</div>
<% end template %>
<% end view %>
<% end skin %>
